{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "extends": ["eslint:recommended", "google"],
  "globals": {
  },
  "rules": {
    "padded-blocks": 0,
    "comma-dangle": 0,
    "object-curly-spacing": 0,
    "no-multiple-empty-lines": ["error", {"max": 1}],
    "max-len": ["error", {"ignoreComments": true, "ignoreTemplateLiterals": true}]
  },
  "plugins": []
}
